<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/semi_restful_users/css/styles.css' %}"/>
    <title>Users New</title>
</head>
<body>
    <div class="wrapper">
        <h1>Add a new user</h1>
            {% if messages %}
                {% for message in messages %}
                    <p class="red">{{ message }}</p>
                {% endfor %}
            {% endif %}
        <form action="/users/create/" method="POST">
            {% csrf_token %}
            <div>
                <label for="first_name">First Name</label><br>
                <input type="text" id="first_name" name="first_name" placeholder="Ex. John">
            </div><br>
            <div>
                <label for="last_name">Last Name</label><br>
                <input type="text" id="last_name" name="last_name" placeholder="Ex. Doe">
            </div><br>
            <div>
                <label for="email">Email Address</label><br>
                <input type="text" id="email" name="email" placeholder="Ex. johndoe@gmail.com">
            </div><br>
            <button type="submit">Create</button>
        </form><br>
        <div>
            <a href="/users">Go Back</a>
        </div>
    </div>
</body>
</html>